---
import '@/sass/styles.scss';

import { ContentLink, QueryListener, Seo } from '@datocms/astro';

import type { Page, MetaTag } from '../../core/page';
import type { DastroTypes } from '../../core/lib-types';
import { isSearchIndexingPrevented } from '../../core/page-indexing';
import type { ClassValue } from '../component.types.ts';
import DebugGridContainer from '../debug/DebugGridContainer.astro';
import AutoDebugGrid from '../debug/AutoDebugGrid.astro';
import DebugView from '../debug/DebugView.astro';
import DebugInfo from '../debug/DebugInfo.astro';
import { visualEditing } from '../../datocms/visual-editing.ts';

interface Props<T extends DastroTypes = DastroTypes> {
  page: Page<T>;
  locale: T['SiteLocale'];
  bodyClass?: ClassValue;
  faviconMetaTags?: MetaTag[];
}

const { page, locale, bodyClass, faviconMetaTags } = Astro.props;

const { routing, config, i18n, draftMode } = Astro.locals.dastro;
const { resolveRecordUrl } = routing();
const { normalizedIsoLocale, locales } = i18n();
const { getExecutedDraftQueries } = draftMode();

const debugViewEnabled = config.dev.debugViewEnabled;

const isPageExcludedFromIndexing = !!page._seoMetaTags.find(
  (mt) =>
    mt.attributes?.name === 'robots' && mt.attributes?.content === 'noindex',
);

function i18nLinkTags(): MetaTag[] {
  // for single-locale apps, we do not need to specify alternatives
  if (locales.length <= 1) {
    return [];
  }

  const baseUrl = config.appBaseUrl.replace(/\/$/, '');
  const urlInCurrentLocale = resolveRecordUrl(page, locale) ?? '/';

  return [
    {
      tag: 'meta',
      attributes: {
        property: 'og:url',
        content: `${baseUrl}${urlInCurrentLocale}`,
      },
    },
    {
      tag: 'link',
      attributes: { rel: 'canonical', href: `${baseUrl}${urlInCurrentLocale}` },
    },
    ...locales.map((l) => ({
      tag: 'link',
      attributes: {
        rel: 'alternate',
        hreflang: normalizedIsoLocale(l) ?? l,
        href: `${baseUrl}${resolveRecordUrl(page, l) ?? ''}`,
      },
    })),
  ];
}

const { isVisualEditingEnabled } = visualEditing(Astro);
const executedDraftQueries = getExecutedDraftQueries(Astro);
---

<!doctype html>
<!--

₍⸌̣ʷ̣̫⸍̣₎  Made with ♥ by gridonic.ch

-->
<html lang={normalizedIsoLocale(locale)}>
  <head>
    <meta charset="UTF-8" />
    <slot name="head:before" />
    <slot name="head:viewport">
      <meta name="viewport" content="width=device-width, initial-scale=1" />
    </slot>
    <slot name="head:generator">
      <meta name="generator" content={Astro.generator} />
    </slot>
    <slot name="head:preconnect">
      <link rel="preconnect" href="https://www.datocms-assets.com" />
    </slot>
    <slot name="head:seo">
      <Seo
        data={[
          ...(faviconMetaTags ?? []),
          ...page._seoMetaTags,
          ...i18nLinkTags(),
        ]}
      />
    </slot>
    {
      isSearchIndexingPrevented(config) && !isPageExcludedFromIndexing && (
        <meta
          id="development-indexing-turned-off"
          name="robots"
          content="noindex"
        />
      )
    }
    <slot name="head:after" />
  </head>
  <body class:list={bodyClass}>
    <slot name="body:before" />
    <slot name="body:skip-links">
      <!--<SkipLinks />-->
    </slot>
    <slot name="body" />
    {
      debugViewEnabled && (
        <slot name="body:debug-view">
          <DebugGridContainer>
            <AutoDebugGrid />
          </DebugGridContainer>
          <DebugView />
        </slot>
      )
    }
    <slot name="body:debug-info">
      <DebugInfo />
    </slot>
    <slot name="body:query-listeners">
      {executedDraftQueries.map((q) => <QueryListener {...q} />)}
    </slot>
    <slot name="body:visual-editing">
      {isVisualEditingEnabled() && <ContentLink stripStega={true} />}
    </slot>
    <slot name="body:after" />
  </body>
</html>

<script>
  // This script calculates the width of the browser's scrollbar and sets it as a
  // CSS custom property (--scrollbar-width) on the root element.
  // It exists to ensure that layout or styling adjustments (e.g., padding/margin)
  // can account for the scrollbar width dynamically, particularly in scenarios
  // where scrollbars may affect the alignment of elements (e.g., modals or fixed headers).
  const scrollbarWidth =
    window.innerWidth - document.documentElement.clientWidth;
  document.documentElement.style.setProperty(
    '--scrollbar-width',
    `${scrollbarWidth}px`,
  );

  // Disable all transitions when resizing
  let resizeTimer: number;

  window.addEventListener('resize', () => {
    document.documentElement.classList.add('disable-transitions');

    clearTimeout(resizeTimer);
    resizeTimer = window.setTimeout(() => {
      document.documentElement.classList.remove('disable-transitions');
    }, 1500);
  });
</script>

<style lang="scss">
  .disable-transitions {
    :global(*),
    :global(*::before),
    :global(*::after) {
      transition: none !important;
    }
  }
</style>
